@import "./shared.scss";

.App {
  h4 {
    width: 60%;
    margin: auto;
    padding-left: 20px;
  }

  main {
    width: 60%;
    margin: auto;
    padding-left: 10px;

    .ui.fluid.selection.dropdown {
      margin: 10px;
    }
  }
}
